.react-calendar {
  width: 18rem;
  max-width: 100%;
  border-radius: 0.4rem;
  background: var(--grey-10, #fff);
  box-shadow: 0px 0px 6.25px 0px rgba(27, 40, 54, 0.05),
    0px 10.41667px 15.625px 0px rgba(27, 40, 54, 0.1);
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  padding: 1rem;
  align-items: center;
  gap: 0.2rem;
  align-self: stretch;
  border-bottom: 1.042px solid var(--grey-300, #e6e6e6);
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation .react-calendar__navigation__label__labelText {
  font-size: 0.75rem;
}

.react-calendar__navigation button:disabled {
  color: #d9d9d9;
}

.react-calendar__navigation button:enabled:hover {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5rem;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ababab;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2rem 0.5rem;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 0.8rem 0.1rem;
  background: none;
  text-align: center;
  line-height: 14px;
  font-size: 0.8rem;
}

.react-calendar__tile:disabled {
  background-color: #fafafa;
  color: #d9d9d9;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

/* .react-calendar__tile--now {
  background: #ffff76;
  border-radius: 0.3rem;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
} */

.react-calendar__tile--hasActive {
  background: #76baff;
  border-radius: 0.3rem;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: white;
  border-radius: 0.3rem;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
