.rdp {
  --rdp-cell-size: 2.5rem;
  --rdp-accent-color: #ffd803;
  --rdp-background-color: #fffffe;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  background-color: var(--rdp-accent-color) !important;
  color: white;
}
